[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "22.8.0"
flake8 = "*"
importlib_metadata = {version = "*", markers = "python_version < '3.8'"}
pytest = "*"
pytz = "*"
requests = "<3.0"

[packages]
jellyfish = "<1.0"


[pipenv]
allow_prereleases = true
