name: Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, '3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pipenv for python 3.6
      uses: dschep/install-pipenv-action@v1
      if: ${{ matrix.python-version == '3.6' }}
      with:
        version: 2022.4.20
    - name: Install pipenv for modern python
      uses: dschep/install-pipenv-action@v1
      if: ${{ matrix.python-version != '3.6' }}
    - name: Install dependencies
      run: |
        pipenv install --dev --python `which python`
    - name: Linting and formatting
      run: |
        # stop the build if there are Python syntax errors or undefined names
        pipenv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        pipenv run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        # check formatting
        pipenv run black --check us
    - name: Test with pytest
      run: |
        pipenv run pytest us/tests --timezone
        DC_STATEHOOD=yes pipenv run us/tests --dc-statehood 
